.contact{
  form{
    width: 60%;
    margin: auto;
    table{
      width: 100%;
      tr{
        th,td{
          border-top: 1px dashed #cccccc;
          padding: 20px 10px;
        }
        input,textarea{
          width: 100%;
        }
      }

    }
  }
  .btnarea{
    text-align: center;
    .btn{
      width: 15%;
      background-color: black;
      color: #ffffff;
      padding: 10px;
      border-radius: 25px;
      cursor: pointer;
    }
  }
  
}

@media screen and (max-width: 750px){
.contact{
  margin-top: 50px;
  form{
    width: 80%;
    table{
      tr{
        text-align: left;
        td{
          border-top: none;
        }
        th,td{
          display: block;
          font-size: 14px;
        }
      }
    }
  }
  .btnarea{
    .btn{
      width: 40%;
    }
  }
}
}